
# IDE files
.idea/
.vscode/

# Node.js dependencies
node_modules/

# TypeScript build files
dist/
build/
*.tsbuildinfo

# Environment variables
.env

# Logs
*.log

# Operating system files
.DS_Store

# Ignore virtual environment directories
venv/
.env/
env/
