.main {
  width: 70%;
  border: 0.5px solid wheat;
  font-family: Arial, sans-serif;
  margin: 20% auto;
  text-align: center;
}

button {
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

ol {
  margin-top: 2rem;
  padding: 0;
}
li {
  margin: 5px;
  display: flex;
}

.items {
  flex-grow: 1;
  display: flex;
  justify-content: left;
}
